<mat-card class="example-card">
<mat-card id="example-card1">
  <mat-card-title-group id="tt1">
    Mobile Service
  </mat-card-title-group>
</mat-card>
<br>
<label>Address: </label>
<br>
<input type="text" placeholder="xxx">
<br>
<label>Phone No :</label>
<br>
<input type="text" placeholder="yyy">
<br>
<label>Email Id: </label>
<br>
<input type="email" placeholder="a@gmail.com">
<br>
<label>Timing</label>
<br>
<input type="datetime" placeholder="00:00 to 23:59">
<br>
<label>Rating</label>
<br>
<input type="">
</mat-card>




<mat-card class="example-card">
<mat-card id="example-card2">
  <mat-card-title-group id="tt2">
 Enter The Details
   </mat-card-title-group>
</mat-card>
<br>
<div  class="enterDetail">
<label>Product Name :</label>
<br>
<input type="text" placeholder="Enter the name of the product" id="enterProductName">
<br>
<label>Model Number :</label>
<br>
<input type="text" placeholder="Enter the Model no of the Product" id="enterModelNo"> 
<br>
<label>Date Of Purchase :</label>
<br>
<input type="text" placeholder="Enter the Date of Purchase" id="enterDateOfPurchase">
<br>
<label>Contact Number :</label>
<br>
<input type="text" placeholder="Enter the contact Number" id="enterContactNumber">
<br>
<label>Problem :</label>
<br>
<input type="text" placeholder="Enter The Problem of the Product" id="enterProblem">
<br>
<br>
<button id="book">Book</button>

</div>
</mat-card>

