.example-card{
  max-width: 600px;
  margin-bottom: 8px;
  padding: 20px;
  margin: 150px;
  margin-top: 30px;
  align-self: center;
  float: right;
}
#example-card1 {
  max-width: 500px;
  margin-bottom: 8px;
  padding: 20px;
  margin: 40px;
  align-items: center;


}

#example-card2 {
  max-width: 500px;
  margin-bottom: 8px;
  padding: 20px;
  margin: 40px;
  align-items: center;
}
.enterclass{
  margin: 20px;
}
#book{
  align-self: center;
  background-color: rgb(91, 91, 175);
}

#tt1{
background-color: beige;
}

#tt2{
background-color: beige;
}